@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	color: #ffffd2;
}

html,
body,
.container,
plotter {
	height: 100%;
}

.container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	padding: 50px;
	width: 30%;
}

.plotter {
	background-color: #23242a;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.plotter > p {
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: #ffffff;
}

h1 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 22px;
	/* identical to box height */
	color: #23242a;
}

.inputs {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	justify-content: center;
}

.input {
	margin-block-start: 40px;
	background: #f2f2f2;
	border-radius: 10px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 22px;
	/* identical to box height */
	color: #23242a;
	border: none;
	padding: 12px 20px;
	display: block;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: textfield;
}

.input::placeholder {
	text-transform: capitalize;
}

.input:active,
.input:focus {
	outline: none;
	box-shadow: none;
	border: none;
}

.submit {
	background: #ffe178;
	border-radius: 10px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 22px;
	color: #23242a;
	display: block;
	width: 100%;
	border: none;
	padding: 12px;
	text-align: center;
	cursor: pointer;
}

body {
	display: flex;
}
